@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

button,a{
    cursor: pointer;
}

.test{
    position: fixed;
    overflow: hidden;
}

.nonScroll {
    height:calc(100vh + 1px) ;
    width: 1px;
    background-color: transparent;
}

.events:after{
    content: "";
    display: block;
    width: 35%;
    height: 0;
}

.hideFlag{
    display: none;
}

.eventFlag{
    display: none;
}

.borderRed{
    border: 1px solid red;
}

.commonSectionStyles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width: 1024px) {
    .commonSectionStyles {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}

/*==============[dashタイトル]====================*/
.dash_h2 {
    position: relative;
    padding-top: 50px;
    padding-left: 30px;
    font-size: 26px;
}

.dash_h2 span {
    position: relative;
    z-index: 2;
}

.dash_h2::before {
    content: attr(data-en);
    position: absolute;
    transform: rotate(-5deg);
    top: -20px;
    left: 0;
    color: rgba(23,28,97,0.09);
    font-size: 80px;
    font-weight: 400;
    font-family: luxus-brut, cursive;
    font-style: italic;
}
/*=================[dash 登録ボタン]===============-*/
.btn-border {
    border: 2px solid #000;
    border-radius: 0;
    background: #fff;

    -webkit-transform-style: preserve-3d;

    transform-style: preserve-3d;
}

.btn-border:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    content: '';
    -webkit-transition: all .3s;
    transition: all .3s;

    background: #000;
}

.btn-border:hover {
    color: #fff;
    background: #000;
}

.btn-border:hover:before {
    background: #fff;
}

/*========[質問アコーディオンメニュー]==============*/

.qa__item {
    display: inline-block;
}

.qa__head {
    cursor: pointer;
}

.qa__body {
    padding: 0 20px;
    line-height: 0;
    opacity: 0;
    transition: line-height 0.4s, padding 0.4s, opacity 0.4s;
}

.qa__body.is-open {
    padding: 20px;
    line-height: 1.5;
    opacity: 1;
}

.qa__head.is-open::after {
    transform: rotate(45deg) translateY(-10px);
}

/*=================[dashboard table スクロール固定（編集・削除）]=========================*/
._sticky_a {
    position: sticky;
    top: 0;
    left: 0;
    background: none;
    border-left: none;
    border-right: none;
}
._sticky_a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9fafb;
    z-index: -1;
}

._sticky_a2 {
    position: sticky;
    top: 0;
    left: 70px;
    background: none;
    border-left: none;
    border-right: none;
}
._sticky_a2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9fafb;
    z-index: -1;
}

._sticky_b {
    position: sticky;
    top: 0;
    left: 0;
    background: none;
    border-top: none;
    border-bottom: none;
}
._sticky_b:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9fafb;
    z-index: -1;
}

._sticky_ab {
    position: sticky;
    top: 0;
    left: 0;
    background: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    z-index: 1;
}
._sticky_ab:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#f9fafb;
    z-index: -1;
}

._sticky_ab2 {
    position: sticky;
    top: 0;
    left: 70px;
    background: none;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    z-index: 1;
}
._sticky_ab2:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#f9fafb;
    z-index: -1;
}


/*==========================================*/
@layer components {
    .flexColumn{
        @apply flex flex-col
    }
    .flexColumnCenter{
        @apply flex flex-col justify-center items-center
    }
    .flexCenter{
        @apply flex flex-row justify-center items-center
    }
    .flexBetween{
        @apply flex flex-row justify-between items-center
    }
    .flexEnd-X{
        @apply flex flex-row justify-end items-center
    }
}



