@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.test{
    position: fixed;
    overflow: hidden;
}

.nonScroll {
    height:calc(100vh + 1px) ;
    width: 1px;
    background-color: transparent;
}

.events:after{
    content: "";
    display: block;
    width: 35%;
    height: 0;
}

.hideFlag{
    display: none;
}

.eventFlag{
    display: none;
}

.borderRed{
    border: 1px solid red;
}

.commonSectionStyles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width: 1024px) {
    .commonSectionStyles {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}


/*========[質問アコーディオンメニュー]==============*/

.qa__item {
    display: inline-block;
}

.qa__head {
    cursor: pointer;
}

.qa__body {
    padding: 0 20px;
    line-height: 0;
    opacity: 0;
    transition: line-height 0.4s, padding 0.4s, opacity 0.4s;
}

.qa__body.is-open {
    padding: 20px;
    line-height: 1.5;
    opacity: 1;
}

.qa__head.is-open::after {
    transform: rotate(45deg) translateY(-10px);
}



/*==========================================*/
@layer components {
    .flexColumn{
        @apply flex flex-col
    }
    .flexColumnCenter{
        @apply flex flex-col justify-center items-center
    }
    .flexCenter{
        @apply flex flex-row justify-center items-center
    }
    .flexBetween{
        @apply flex flex-row justify-between items-center
    }
    .flexEnd-X{
        @apply flex flex-row justify-end items-center
    }
}



